
if SHIELD_CMINI_TRACKPAD

    config ZMK_KEYBOARD_NAME
        default "CMini-Pt-Trackpad"

    

endif

if SHIELD_CMINI_TRACKBALL

    config ZMK_KEYBOARD_NAME
        default "CMini-Pt-Trackball"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_CMINI_TRACKPAD || SHIELD_CMINI_TRACKBALL

    config ZMK_SPLIT
        default y

endif