
if SHIELD_CMINI-PT_TRACKPAD

    config ZMK_KEYBOARD_NAME
        default "CMini-Pt-Tp"

    
    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_CMINI-PT_TRACKBALL

    config ZMK_KEYBOARD_NAME
        default "CMini-Pt-Tb"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_CMINI-PT_TRACKPAD || SHIELD_CMINI-PT_TRACKBALL

    config ZMK_SPLIT
        default y

endif