if SHIELD_CMINI_DONGLE

    config ZMK_KEYBOARD_NAME
        default "CMini"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_CMINI_LEFT

    config ZMK_KEYBOARD_NAME
        default "CMini(Left)"

endif

if SHIELD_CMINI_RIGHT

    config ZMK_KEYBOARD_NAME
        default "CMini(Right)"

endif

if SHIELD_CMINI_DONGLE || SHIELD_CMINI_LEFT || SHIELD_CMINI_RIGHT

    config ZMK_SPLIT
        default y

endif