if SHIELD_CMINI_DONGLE

    config ZMK_KEYBOARD_NAME
        default "CMini"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_CMINI_TRACKPAD

    config ZMK_KEYBOARD_NAME
        default "CMini(Trackpad)"

endif

if SHIELD_CMINI_DONGLE || SHIELD_CMINI_LEFT || SHIELD_CMINI_RIGHT || SHIELD_CMINI_TRACKPAD || SHIELD_CMINI_TRACKBALL

    config ZMK_SPLIT
        default y

endif