if SHIELD_DACTYL_MANUFORM_4x6_LEFT

    config ZMK_KEYBOARD_NAME
        default "DM-4x6(Left)"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL_MANUFORM_4x6_RIGHT

    config ZMK_KEYBOARD_NAME
        default "DM-4x6(Right)"

endif

if SHIELD_DACTYL_MANUFORM_4x6_LEFT || SHIELD_DACTYL_MANUFORM_4x6_RIGHT

    config ZMK_SPLIT
        default y

endif
